
.navbar{
    width: 100%;
    height: 8vh;
    
    background-color: var(--p_color_blue);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
    .brand{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        margin-left: 1%;
        height:100%;
        width: 35%;
      
    }
        .brand img{
            width: 9%;
          
        }
        .brand_title{
            font-weight: 400;
            font-size: 2.5rem;

            color: var(--link_color_white);
            font-family: var(--link_font);
        }
        .brand_span{
            color: var(--s_color_lightBlue);
        }

    .links_container{
        width: 60%;
        /* border: 2px solid red; */

       display: flex;
       flex-direction: row;
       justify-content: space-around;

       padding: 1%;
       border-bottom: 1px solid rgba(0, 0, 255, 0);

    }
      
        .links{
            color: var(--link_color_white);
            text-decoration: none;
            font-family: var(--link_font);
         
        }
        a:hover{
            /* background-color: blueviolet; */
            border-bottom: 1px solid var(--s_color_lightBlue);
            color: var(--s_color_lightBlue);
        }