
<div class="container mt-5" >
<!-- buscador -->
<form action="" class="search_box">
    <input #id type="text" placeholder="Introduce el ID de un Libro">
    <button type="button" (click)="searchBooks(id.value)">Buscar</button>
</form>

<!-- inIf para mostrar solo si ahy libros-->
    <div *ngIf="myBooks.length !=0; else noBooks"  class="cards_container">
     <!-- usamos el indice del ngFOr con la propiedad even(par) para cambair el color de los botones pares-->
       
     <!-- FOR que recorre el array de libros para mostrarlos + + [[ngClass]=""] para cambair los botones -->
        <div *ngFor="let book of myBooks; let botonPar = even">
            <!-- COMUNICACIÓN PADRE-HIJO -->
            <!-- tenemos dos variables de comunicación Padre-Hijo, una para pasar la información de los libros
            y la otra para el color del boton -->
            <app-card [bookPadre] = 'book' [botonPar]="botonPar" (eventDeleteBook)="deleteBook($event)"></app-card> 
            <!-- COMUNICACIÓN HIJO-PADRE -->
            <!-- (eventDeleteBook)="deleteBook($event), Con esto recibimos el evento creado desde el hijo que nos trae los datos que necesitamos -->

        </div>

    </div>
    
    <!-- SI O HAY LIBROS: siempre  fuera del IF -->
    <ng-template #noBooks class="noBooks">No hay libros disponibles</ng-template>

</div>


