
<!-- D3.3 Esta card debe estar en un contenedor que permita agregar tantas card como se necesite sin
romper el diseño. -->
 <!-- D3.4 
    • Añadir a la página libros un formulario con todos los campos necesarios para crear un libro.
    • Implementar funcionalidad que cuando se inserten datos en el formulario y se llame al evento
      click se agregue un nuevo libro al array libros del componente. -->


<div class="container mt-5" >
<!-- inIf para mostrar solo si ahy libros-->
    <div *ngIf="myBooks.length !=0; else noBooks"  class="cards_container">
     <!-- usamos el indice del ngFOr con la propiedad even(par) para cambair el color de los botones pares-->
       
     <!-- FOR que recorre el array de libros para mostrarlos + + [[ngClass]=""] para cambair los botones -->
        <div *ngFor="let book of myBooks; let botonPar = even">
            <!-- COMUNICACIÓN PADRE-HIJO -->
            <!-- tenemos dos variables de comunicación Padre-Hijo, una para pasar la información de los libros
            y la otra para el color del boton -->
            <!-- COMUNICACIÓN HIJO-PADRE -->
            <!-- (eventDeleteBook)="deleteBook($event), Con esto recibimos el evento creado desde el hijo que nos trae los datos que necesitamos -->
            <app-card [bookPadre] = 'book' [botonPar]="botonPar" (eventDeleteBook)="deleteBook($event)"></app-card> 
        </div>

    </div>
    
    <!-- SI O HAY LIBROS: siempre  fuera del IF -->
    <ng-template #noBooks class="noBooks">No hay libros disponibles</ng-template>

</div>


<!-- 
    ***********FORMULARIO**************
 -->
 <div class=" container mt-5 formContainer">
    <div class="form">
        <form action="" class="formContainerData">
            <div class="data">
                <label for="">Id del Libro</label>
                <input #id type="number" placeholder="Introduce el ID del libro" type="text">
            </div>
            <div class="data">
                <label for="">Titulo del Libro</label>
                <input #titulo  placeholder="Introduce el titulo del libro" type="text">
            </div>
            <div class="data">
                <label for="">Tipo</label>
                <input #tipo   placeholder="Introduce el tipo" type="text">
            </div>
            <div class="data">
                <label for="">Autor</label>
                <input #autor   placeholder="Introduce el Autor" type="text">
            </div>
            <div class="data">
                <label for="">Precio</label>
                <input #precio   placeholder="Introduce el precio de venta" type="number">
            </div>
    
            <div class="data">
                <label for="">Portada</label>
                <input #foto  placeholder="Introduce una url para la portada" type="text">
            </div>
    
        </form>
    
        <div class="endForm">
            <button  type="button" (click)="updateBook( titulo.value, tipo.value, autor.value, precio.value, foto.value, id.value)">Insertar Libro</button>
        </div>
 </div>
