
<div class="main">

    <div class="img">
        <img src="../../../assets/logo_registro.png" alt="">
    </div>

    <div class="form_container">
        <div class="title_container">
            <h2>BORCELLE</h2>
            <H2>BOOKSTRORE</H2>
        </div>
        <div class="form">
            <label for="">Nombre</label>
            <input type="text" class="input">
        
            <label for="">Apellido</label>
            <input type="text" class="input">
        
            <label for="">Email</label>
            <input type="text" class="input">
        
            <label for="">Contraseña</label>
            <input type="text" class="input">
        </div>    
    </div>

</div>
