
.main{
    height: var(--main_container);
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.register_container{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
 
    width: 70%;
    height: 85%;
    border: 2px solid var(--p_color_blue);
    border-radius: 4px;
    gap: 10px;

}
    .img{
        width: 70%;
    }
    .img img{
        width: 100%;
        height: 100%;
    }

    .form_container{
        height: 100%;
        padding: 2%;

        display: flex;
        flex-direction: column;
    }
    .title_container{
     
        height: 20%;
    }

        .title_container h2{
            
            font-family: var(--link_font);
            font-size: 3rem;
            font-weight: 600;
            line-height: 90%;
            color: var(--p_color_blue);

        }
        .form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    
            width: 100%;
            height: 80%;
           
        }
            .form label{
                color: var(--p_color_blue);
                font-family: var(--link_font);
                margin-top: 2%;
            }
            .form input{
                margin-top: 2%;
                border-radius: 4px;
                border: 1px solid var(--p_color_blue);
            }
            input::placeholder{
                color: var(--placeholder_color);
                font-family: var(--link_font);
                padding-left: 1%;
                font-size: smaller;
               
            }
            .group_container{
                display: flex;
                flex-direction: column;
             
                height: 20%;
                margin-bottom: 2%;
               
            }
      
            .button:hover{
                background-color: var(--p_color_blue);
            }
            .button{
                margin-top: 3%;  
                width: 100%; 
                height: 40px;
                border: none;
                border-radius: 4px;
                background-color: var(--p_color_blue);
                color: var(--link_color_white);
            }
            .button:disabled{
                background-color: var(--p_color_blue_disabled);
            }
        