
<div class="main">

    <div class="register_container">

        <div class="img">
            <img src="../../../assets/logo_registro.png" alt="">
        </div>
    
        <div class="form_container">
            <div class="title_container">
                <h2>BORCELLE</h2>
                <h2>BOOKSTRORE</h2>
            </div>

            <div class="form">
                <label for="">Nombre</label>
                <input type="text" class="input" placeholder="Introduce tu nombre">
            
                <label for="">Apellido</label>
                <input type="text" class="input"  placeholder="Introduce tu apellido">
            
                <label for="">Email</label>
                <input type="text" class="input"  placeholder="Introduce tu email">
            
                <label for="">Contraseña</label>
                <input type="text" class="input"  placeholder="Introduce tu contraseña">

                <button class="button">Enviar</button>
            </div> 
        </div>
        
    </div>

</div>
